.container-services {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;


  .iner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 30px;
    border: 2px solid #606686;
    background: var(--services-background);
    backdrop-filter: blur(2px);
    height: 100%;

    span,
    img {
      color: #FFF;
      margin-bottom: 20px;
    }

    img {
      filter: drop-shadow(-10px 5px 0px var(--brand-violet-primary));
    }

    .inner-box-description {
      color: #FFF;
      font-family: var(--font-jetbrains-mono);
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 30px */
      letter-spacing: 0.8px;
      overflow-x: auto;
    }
  }


  > span {
    text-align: right;
  }


}



