.container-blog-list {
  position: relative;
  display: flex;
  border: 1px solid rgba(219, 209, 209, 0.6);
  border-radius: 10px;
  background-color: var(--blog-background-color);
  width: 330px;
  margin-bottom: 65px;
  padding: 15px 0;

  .img-container__blog-list {
    position: relative;
    width: 240px;
    height: 240px;
    opacity: 0.9;
    margin-top: 20px;

    img {
      border-radius: 5px;
    }
  }


  .wrapper__blog-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      display: block;
      padding: 0 45px;
    }

    span:first-child {
      color: var(--blog-txt-color);
      font-size: 18px;

    }

    span:nth-child(2) {
      color: var(--blog-txt-color-next);
      font-size: 13px;
      height: 55px;
      max-height: 55px;
    }
  }


  button {
    color: var(--blog-txt-color-next);
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 15px;
    padding-right: 20px;
  }

  .user__blog-list {
    position: absolute;
    right: 6px;
    top: 30px;

    > div {
      margin: 10px 0;
    }

    .user-name__blog-list {
      writing-mode: vertical-lr;
      transform: rotate(0deg);
      cursor: default;
      color: var(--blog-txt-color-next);
      font-size: 16px;
    }
  }
}