.animate-link {
  background-color: var(--text-color);
  background-image: linear-gradient(to right, #E56466 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: background-position 0.5s ease-out;

  &:hover {
    background-position: left;
  }

  svg {
    padding-top: 2px;
    transition: transform 0.5s ease;
  }

  &:hover {
    svg {
      transform: rotate(180deg);
      transition: transform 0.5s ease;
      margin-top: 2px;
    }
  }
}

.active-link {
  background-color: var(--sub-menu-background);
  padding: 2px 10px;
  border-radius: 5px;
  color: white;


  svg {
    fill: var(--text-color-footer);
    padding-top: 2px;
    transition: transform 0.5s ease;
  }

  &:hover {

    svg {
      transform: rotate(180deg);
      transition: transform 0.5s ease;
    }
  }
}
