@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --background-color: #FBFCFF;
    --text-color: #0E0E10;
    --text-color-hover: #24428a;
    --text-color-footer: #606686;
    --violet-light: #6D24C9;
    --brand-violet-primary: #6D24C9;
    --text-color-enumeration: #6A72A0;
    --text-color-script: #DF631C;
    --text-color-chose-name-color: #7E8696;
    --loader-background: 0.5;
    --background-color-modal: rgba(247, 246, 246, 1);
    --background-color-modal-close: #9898bb;
    --background-color-input: transparent;
    --shadow-color-inset: #595972;
    --services-img-filter: drop-shadow(10px 5px 0px var(--brand-violet-primary));
    --services-text: #0E0E10;
    --services-background-button: #e7e7fa;
    --services-background: linear-gradient(112deg, rgba(136, 136, 228, 0.09) 17.01%, rgba(43, 43, 193, 0.12) 88.71%);
    --experience-background: rgba(57, 28, 96, 1);
    --experience-background-open: #e7e7fa;
    --experience-background-hover: rgba(109, 36, 201, 1);
    --safe-area-inset-top: env(safe-area-inset-top);
}

[data-theme="dark"] {
    --index: calc(1vw + 1vh);
    --background-color: linear-gradient(180deg,
    rgb(15, 16, 19) 0%,
    rgb(16, 15, 23) 10%,
    rgb(19, 12, 30) 20%,
    rgb(23, 11, 42) 30%,
    rgb(27, 17, 61) 40%,
    rgb(26, 32, 86) 50%,
    rgb(29, 53, 110) 60%,
    rgb(24, 17, 37) 70%,
    rgb(24, 17, 37) 80%,
    rgb(24, 17, 37) 90%,
    rgb(16, 15, 21) 100%);
    --text-color: #F7F7F7;
    --text-color-hover: #FFA500;
    --text-color-footer: #F7F7F7;
    --violet-light: #AC69FF;
    --brand-violet-primary: #6D24C9;
    --text-color-enumeration: #CDD9AB;
    --text-color-script: #FBC65E;
    --text-color-chose-name-color: #7E8696;
    --loader-background: 0.1;
    --background-color-modal: #1e1e2a;
    --background-color-modal-close: purple;
    --background-color-input: #10101D;
    --shadow-color-inset: #10101D;
    --services-text: #FFF;
    --services-img-filter: drop-shadow(-10px 5px 0px var(--brand-violet-primary));
    --services-background: rgba(14, 14, 16, 0.5);
    --services-background-button: rgba(14, 14, 16, 0.5);
    --experience-background: rgba(57, 28, 96, 0.7);
    --experience-background-open: rgba(14, 14, 16, 0.5);
    --experience-background-hover: rgba(109, 36, 201, 0.5);
    --safe-area-inset-top: env(safe-area-inset-top);
}

/*  font-size: calc(var(--index) * 1); */

html {
    scroll-behavior: smooth;
}

body {
    padding-top: var(--safe-area-inset-top);
    transition: background 1.5s ease-in-out, color 1.5s ease-in-out;
    background: var(--background-color);
    color: var(--text-color);
    padding-left: calc(var(--index) * 2);
    padding-right: calc(var(--index) * 2);
    overscroll-behavior: none;
    margin: 0 auto;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;

    display: flex;
    flex-direction: column;
    min-height: 85vh;
    max-width: 1700px;
}

a, span {
    font-family: "JetBrains Mono", monospace;
    color: var(--text-color);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
}

ul {
    list-style: none;
}

h2 {
    font-weight: 700;
}


button {
    color: #F7F7F7;
    text-transform: uppercase;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

}

.download-pdf {
    margin: 50px 0;
}

.title-block {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}


.link-another-platform {
    text-decoration-line: underline;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;

    &:hover {
        color: var(--text-color-hover);
        transform: scale(1.1);
        text-shadow: 0 0 10px rgba(255, 165, 0, 0.7);
    }
}


input,
textarea {
    font-size: 16px;
}

button {
    border: none;
    background-color: transparent;
}