.container-desktop-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: -10px;
    color: var(--text-color);

    .menu-item {
      opacity: 0;
      font-size: 30px;
    }
  }

  .logo {
    opacity: 0;
  }

  .nav-bar-toggle {
    opacity: 0;
  }


  .nav-bar-toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

  }
}

@media (max-width: 1024px) {
  .container-desktop-menu {
    display: none;
  }
}

