.computer__container {
  position: absolute;
  top: 80px;
  left: 50px;
  width: 50vw;
  height: 240svh;
  z-index: -1;
  @media(max-width: 1024px) {
    top: 235px;
  }

  .computer {
    cursor: grab;
    position: absolute;
    height: 60vh;
    width: 95vw;
    top: 25vh;
    left: 0;
    right: 0;
    z-index: 999999;
    @media(max-width: 1024px) {
      width: 80vw;
    }
  }
}