.create-post__container {

  margin: 0 20px;
  display: flex;
  flex-direction: column;

  button {
    margin-left: auto;
    margin-bottom: 20px;
  }

  .file-input__create-post{
    margin-bottom: 20px ;
  }

  .text_area {
    background-color: rgba(255, 255, 255, 0.95);
    color: black;

    .ql-container {
      height: 50svh;
    }
  }
}