
.container-or {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  margin: 30px 0;
  width: 100%;

  span {
    padding: 0 20px;
    font-size: 14px;
    text-transform: none;
  }

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: var(--text-color);
    max-width: 285px;
  }
}
