.container-event-text {
  font-weight: 700;
  text-align: center;
  display: block;
  width: 100%;
}

.ok-event-text {
  color: green;
}

.error-event-text {
  color: red;
}

.warning-event-text {
  color: #07ff28;
}