.container-main-title {
  min-height: calc(var(--index) * 13);

  h1 {
    word-spacing: -20px;
    @media (max-width: 400px) {
      word-spacing: -10px;
    }

    span {
      width: max-content;
      display: flex;
      color: var(--text-color);
      text-transform: uppercase;
      font-size: calc(var(--index) * 3.9);
      font-style: normal;
      font-weight: bold;
      line-height: 90%;
      letter-spacing: 1.2px;

      &:last-child {
        color: var(--brand-violet-primary);
      }

      @media (max-width: 768px) {
        font-size: calc(var(--index) * 2.9);
      }
    }

    .line-1 {
      border-right: 2px solid rgba(255, 255, 255, .75);
      white-space: nowrap;
      overflow: hidden;
    }
  }

  h2 {
    opacity: 0;
    color: var(--text-color);
    font-size: calc(var(--index) * 1.2);
    font-style: normal;
    font-weight: bold;
    line-height: 120%;
    width: 50%;
    margin-top: 20px;

    @media (max-width: 768px) {
      font-size: 20px;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    min-height: calc(var(--index) * 18);
  }
}

