.container-header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  .burger-menu-btn {
    height: 24px;
    width: 24px;
    cursor: pointer;

    & > svg {
      stroke: var(--text-color);
    }
  }

  .nav-bar-toggle {
    display: flex;
    gap: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .container-header-mobile {
    display: none;
  }
}
