.container-social-links-isAbsolute {
  opacity: 0;
  position: absolute;
  top: 120%;
  left: 10px;
  z-index: 1;
  flex-direction: column;

  svg {
    position: relative;
  }
}

.container-social-links,
.container-social-links-isAbsolute {
  display: flex;

  svg {
    fill: var(--text-color);
  }

}