.mobile-menu__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100svh;
  background-color: rgba(194, 190, 190, 0.2);
  padding: 20px 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  scroll-behavior: auto;
  color: var(--text-color);
  border-top: 1px solid var(--stoke);
  overflow: hidden;

  .mobile-menu__wrapper {
    background-color: red;
    background-color: rgba(90, 38, 155, 0.98);
    margin-top: -20px;
    width: 90vw;
    height: 110%;
    overflow: auto;

    .burger-mob-menu-btn {
      display: flex;
      justify-content: flex-end;

      button {
        background-color: transparent;
        border: none;
        color: var(--text-color);
        line-height: 1.5;
        padding: 10px 20px;
        cursor: pointer;
      }
    }

    .extra-menu__list {

      li {
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 5px;
      }

      .sub-menu__btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
      }

      .sub-menu__btn--open {

      }

      .sub-menu__container {
        margin-left: 20px;
        opacity: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }
}