.mobile-menu__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(194, 190, 190, 0.2);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  scroll-behavior: auto;


  .mobile-menu__wrapper {
    background-color: var(--sub-menu-background);
    width: 90vw;
    height: 100svh;
    overflow: auto;
    padding: 0 5px 20px 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;


    .burger-mob-menu-btn {
      display: flex;
      justify-content: space-between;

      button {
        background-color: transparent;
        border: none;
        line-height: 1.5;
        padding: 10px 20px;
        cursor: pointer;

        svg {
          stroke: var(--sub-menu-color);
        }
      }
    }

    .extra-menu__list {

      a {
        background-color: var(--sub-menu-color);
      }

      li {
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        margin-bottom: 10px;

        .sub-menu__btn {
          display: flex;
          transition: transform 0.5s ease;
          transform-origin: center;
        }

        .sub-menu__btn--open {
          transform: rotate(180deg);
        }
      }

      .sub-menu__btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
      }

      .sub-menu__btn--open {

      }

      .sub-menu__container {
        margin-left: 20px;
        opacity: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }
}

