.container {
  height: calc(100svh - 125px);
  padding-top: 100px;

  @media(max-width: 1024px) {

    padding-top: 32px;
    margin-bottom: 120px;
  }

  .hire_me {
    margin-top: 48px;
    width: max-content;
    @media(max-width: 1024px) {
      height: 100svh;
      position: relative;
      margin-top: 26px;
    }
  }

}
