.container-3d {
  height: 100vh;
  margin-top: calc(var(--index) * 4);
  position: relative;


  .wrapper-hire-me {
    position: absolute;
    z-index: 1;
    @media screen and (max-width: 768px) {
      top: 40%;
      left: 45%;
      transform: translate(-40%, -45%);
    }

    .container-social-links-isAbsolute {
      @media(max-width: 768px) {
        left: -60px;
      }
    }
  }

  .container-social-links {
    margin-top: 30%;
    @media(max-width: 768px) {
      margin-left: -25vw;
    }
  }
}
