.container-desktop-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;


  .logo {
    opacity: 0;
  }

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: -15px;
    color: var(--text-color);

    .menu-item {
      opacity: 0;
      font-size: 30px;

      a{
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.8px;
      }
    }
  }


  .nav-bar-toggle {
    margin-top: -15px;
    opacity: 0;
  }


  .nav-bar-toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

  }
}

@media (max-width: 1024px) {
  .container-desktop-menu {
    display: none;
  }
}

