.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 7svh 0 8svh 0;
    text-align: center;
  }

  .login_form {

    .btn_login {
      display: flex;
      flex-direction: column;

      a {
        margin-top: 10px;
        text-align: right;
        width: 100%;
        background-color: var(--link-color);
      }

      button {
        width: 100%;
        margin: 20px 0;
      }
    }
  }

  .sing_up {

    a {
      text-align: right;
      width: 100%;
      background-color: var(--link-color);
    }
  }
}
