.show-more-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  overflow-y: auto;

  button {
    background: transparent;
    color: var(--violet-light);
  }
}