.container-experience {
  margin: 50px 0;
  min-height: 100vh;

  > span {
    margin: 50px 0;
    display: block;
    @media(max-width: 368px) {
      font-size: 35px;
    }
  }

  .container-experience-list {
    overflow-y: hidden;
  }
}