.container-desktop-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
    color: var(--text-color);

    .menu-item {
      opacity: 0;
      font-size: 30px;


      .sub-menu__btn {
        position: absolute;
        background-color: transparent;
        top: 17px;
        right: -20px;
      }

      .sub-menu__btn {
        display: flex;
        transition: transform 0.5s ease;
        transform-origin: center;
      }

      .sub-menu__btn--open {
        transform: rotate(180deg);
      }

    }
  }

  .logo {
    opacity: 0;
  }


  .nav-bar-toggle {
    opacity: 0;
  }


  .nav-bar-toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

  }
}

@media (max-width: 1024px) {
  .container-desktop-menu {
    display: none;
  }
}

